

<div class="card individual">
<h2>Ocurrió un error</h2>
<img width="200" id="imagen" src="https://assets.puzzlefactory.pl/puzzle/302/740/original.jpg" class="img-responsive" alt="Image">
<h3>Intenta ir a la ruta http://localhost:3000/animals</h3>

</div>