<div class="card individual">
  <h2>{{showUser.user.name}}</h2>
  <img src={{showUser.user.imageURL}} alt="">
  <span><strong>Correo electrónico: </strong> {{showUser.user.email}}</span>
  <a href="/auth/logout{{properties.id}}"><button>Logout</button></a>
</div>